<template>
    <div class="login">
        <div class="container login-container">
            <div class="text-center">
                <div class="logo">
                    <img alt="Vue logo" src="../../assets/logo-vu-duc.png">
                </div>
                <h4 class="my-4">Vui lòng nhập mã OTP</h4>
                <p>Mã xác nhận đã được gửi đến số điện thoại của bạn</p>

                <div class="form-group">
                    <input v-model="otp" placeholder="Nhập mã OTP" class="form-control" type="tel">
                    <small v-show="!formValidated" id="passwordHelpBlock" class="form-text text-muted text-left">
                        {{errorMessage}}
                    </small>
                </div>
                <div class="form-group mb-5">
                    <button v-on:click="verifySMS()" class="btn vd btn-block">Đăng nhập</button>
                </div>
                <h3 class="my-4" v-if="time > 0">{{parseInt(time/60)}} : {{time%60}}</h3>
                <div class="text-center mt-3">
                    <div class="mb-2">Bạn không nhận được mã OTP?</div>
                    <span class="vd mt-3" @click="resend()">Gửi lại mã</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { eBus } from '../../utils/eventbus';
    import api from  '../../api';
    export default {
        name: "otp",
        data() {
            return {
                phone : '',
                errorMessage : '',
                otp : '',
                formValidated: false,
                time: 0,
                interval: null
            }
        },
        created(){
            let phone = localStorage.getItem('otp_sent_phone');
            this.phone = phone;
            if (!phone || phone === 'null'){
                this.$router.push('/login')
            }else {
                localStorage.setItem('otp_sent_phone', null);
            }
        },
        mounted(){
            this.countDown();
        },
        methods: {
            verifySMS(){
                if (!this.otp){
                    this.errorMessage = 'Vui lòng nhập mã OTP';
                    this.formValidated = false;
                }else {
                    this.formValidated = true;
                    api.verifySMS(this.otp, this.phone).then(res => {
                        if (res.data.success){
                            localStorage.setItem('access_token', res.data.data.token_access);
                            eBus.$emit('login-success');
                            setTimeout(function () {
                                window.location.href = '/'
                            },1500);

                        }
                    }).catch(err => {
                        console.log(err);
                        this.errorMessage = 'Mã otp không chính xác';
                        this.formValidated = false;
                    });
                }
            },
            resend(){
                api.login(this.phone).then(res => {
                    if (res.data.status){
                        this.phone = '';
                        this.formValidated = true;
                        this.countDown()
                    }
                }).catch(err => {
                    console.log(err)
                });
            },
            countDown(){
                const self = this;
                self.time = 120;
                self.interval = setInterval(function () {
                    self.time = self.time-1
                }, 1000);
            }
        },
        watch: {
            time: function (value) {
                if (value === 0){
                    clearInterval(this.interval);
                }
            }
        }
    }
</script>

<style scoped>
    .logo{
        text-align: center;
    }
    .logo img{
        width: 200px;
        max-width: 100%;
    }
    .login{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #132d4e;
    }
    .login-container{
        width: 600px;
        max-width: 100%;
    }
    ::-webkit-input-placeholder { /* Edge */
        color: rgba(255, 255, 255, 0.8);
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgba(255, 255, 255, 0.8);
    }

    ::placeholder {
        color: rgba(255, 255, 255, 0.8);
    }
</style>