<template>
    <div class="main-page">
        <nav class="navbar navbar-dark bg-custom-1 navbar-expand fixed-top">
            <div class="container">
                <router-link class="navbar-brand" to="/">
                    <img class="logo" alt="Vue logo" src="../assets/logo-vu-duc.png">
                </router-link>
                <div class="" id="navbar-list-2">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">{{profile.name}}</a>
                        </li>
                        <li class="nav-item">
                            <span @click="logout()" class="nav-link"><font-awesome-icon icon="sign-out-alt" /></span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <h2 class="text-center">Kết quả bài thi</h2>
            <br>
            <h4 class="text-success text-center mb-4 bounce animated" v-if="is_pass">
                Chúc mừng {{profile.name}} đã đạt cấp độ {{curLevel.agency.name}} trong bài thi {{this.category.name}}
                <div class="big"><font-awesome-icon icon="laugh-wink"></font-awesome-icon></div>
            </h4>
            <h4 class="text-danger text-center mb-4 fadeIn animated" v-else>
                Rất tiếc. Bạn chưa vượt qua được bài thi
                <div class="big"><font-awesome-icon icon="frown"></font-awesome-icon></div>
            </h4>
            <div class="row mb-3 justify-content-center">
                <div class="row col-12 col-md-4">
                    <div class="col-8">Tổng đáp án đúng</div>
                    <div class="col-4 text-right">{{correct}}/{{total}}</div>
                    <div class="col-8">Số đáp án đúng tối thiểu</div>
                    <div class="col-4 text-right">{{min}}</div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <b-link class="btn btn-primary mr-2" @click="reTry()" v-if="!is_pass">Thi lại</b-link>
                <b-link class="btn vd" to="/">Trang chủ</b-link>
                <template v-if="is_pass">
                    <b-link class="btn btn-primary ml-2" @click="newExam()" v-if="is_pass">Thi cấp độ tiếp theo</b-link>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    // import { eBus } from '../utils/eventbus';
    import api from  '../api';
    import mixins from '../mixins';
    export default {
        name: "exam",
        mixins: [mixins],
        data(){
            return {
                agency_id: 0,
                category_id: 0,
                correct: 0,
                is_pass: false,
                min: 0,
                total: 0,
                curLevel: 0,
                is_max_level: false,
                category: {},
            }
        },
        created() {
            let has_result = localStorage.getItem('has_result');
            if (!has_result || has_result === 'null'){
                this.$router.push('/')
            }else {
                localStorage.setItem('has_result',null)
            }
            this.agency_id = this.$route.params.agency_id;
            this.category_id = this.$route.params.category_id;
            this.correct = this.$route.params.correct;
            let is_pass = this.$route.params.is_pass;
            if (is_pass !== '0' && is_pass !== 0){
                this.is_pass = true
            }
            this.min = this.$route.params.min;
            this.total = this.$route.params.total;
        },
        mounted () {
            let token = localStorage.getItem('access_token');
            if (!token || token === 'null'){
                this.$router.push('/login')
            }
            this.getCurrentLevelPerCategory();
            api.getCategory(this.category_id).then(res => {
                this.category = res.data.data;
            });
        },
        methods:{
            reTry: function () {
                this.$router.push({
                    name: 'exam',
                    params: {
                        category_id: this.category_id,
                        agency_id: this.agency_id
                    }})
            },
            newExam: function () {
                if (this.is_max_level){
                    this.$bvModal.msgBoxConfirm('Đã đạt level cao nhât. Bạn có muốn tiếp tục?', {
                        title: '',
                        size: 'sm',
                        buttonSize: 'sm',
                        okVariant: 'danger',
                        okTitle: 'Tiếp tục',
                        cancelTitle: 'Quay lại',
                        footerClass: 'p-2',
                        hideHeaderClose: false,
                        centered: true
                    })
                        .then(value => {
                            if (value){
                                this.$router.push({
                                    name: 'exam',
                                    params: {
                                        category_id: this.category_id,
                                        agency_id: this.agency_id
                                    }})
                            }
                        })
                        .catch(res => {
                            console.log(res.message)
                        });
                }else {
                    this.$router.push({
                        name: 'exam',
                        params: {
                            category_id: this.category_id,
                            agency_id: this.agency_id
                        }})
                }
            },
            getCurrentLevelPerCategory: function () {
                api.getAccountDetailByCat(this.category_id).then(res => {
                    this.curLevel = res.data.data;
                    this.is_max_level = this.curLevel.is_max_level;
                }).catch(err => {
                    console.log(err)
                });
            }
        }
    }
</script>

<style type="scss">
    .big{
        font-size: 58px;
        margin: 10px 0;
    }

    @-webkit-keyframes bounce {
        from,
        20%,
        53%,
        80%,
        to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        40%,
        43% {
            -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
        }

        70% {
            -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
        }
    }

    @keyframes bounce {
        from,
        20%,
        53%,
        80%,
        to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        40%,
        43% {
            -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
        }

        70% {
            -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
        }
    }

    .bounce {
        -webkit-animation-name: bounce;
        animation-name: bounce;
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
    }
    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }


    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }

</style>