<template>
    <div class="main-page">
        <nav class="navbar navbar-dark bg-custom-1 navbar-expand fixed-top">
            <div class="container">
                <router-link class="navbar-brand" to="/">
                    <img class="logo" alt="Vue logo" src="../assets/logo-vu-duc.png">
                </router-link>
                <div class="" id="navbar-list-2">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">{{profile.name}}</a>
                        </li>
                        <li class="nav-item">
                            <span @click="logout()" class="nav-link"><font-awesome-icon icon="sign-out-alt" /></span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <template v-if="exams.length > 0">
            <div class="container" v-if="!is_checked && !is_checking">
                <h4 class="text-center">
                    Bạn đang làm  bài thi của {{category.name}}<br>
                    Cấp {{agency.name}}
                </h4>
                <div class="text-center">
                    Thời gian còn lại: <b> {{parseInt(time/60)}} phút {{time%60}} giây</b>
                </div>
                <div class="row pt-3 justify-content-center mt-2">
                    <div class="col-12 col-md-8 col-lg-6">
                        <div class="text-right"><b>Trả lời {{answered}}/{{totalQuestion}}</b></div>
                        <b-progress :value="bar.value" :variant="bar.variant" :key="bar.variant"></b-progress>
                        <div class="wrap-question">
                            <template v-for="(exam, k ) in exams">
                                <div class="mt-2" v-show="k===questionNumber" v-bind:key="exam.id">
                                    <h5 class="mb-2">Câu {{k+1}}: {{exam.name}}</h5>
                                    <b-form-group label="">
                                        <b-form-radio-group
                                                v-model="answers[k].answer_id"
                                                text-field="content"
                                                value-field="id"
                                                :options="exam.answers"
                                                :name="'aswers.'+k+'[]'"
                                                stacked
                                        ></b-form-radio-group>
                                    </b-form-group>
                                </div>
                            </template>
                        </div>
                        <div class="text-right d-flex justify-content-end">
                            <template v-if="questionNumber+1 !== 1">
                                <b-button variant="primary" @click="prevQ()">
                                    <font-awesome-icon icon="chevron-left" />
                                </b-button>
                                <div class="mr-auto"></div>
                            </template>
                            <template v-if="answered === totalQuestion && questionNumber+1 === totalQuestion">
                                <b-button class="vd" @click="check()">Nộp bài</b-button>
                            </template>
                            <template v-if="questionNumber+1 !== totalQuestion">
                                <b-button variant="primary" @click="nextQ()">
                                    <font-awesome-icon icon="chevron-right"/>
                                </b-button>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <div v-else>
            <div class="container text-center pt-5">
                <h2 class="text-center">Đang cập nhật...</h2>
                <b-link class="btn vd mt-5" to="/">
                    Trang chủ
                </b-link>
            </div>
        </div>
    </div>
</template>

<script>
    // import { eBus } from '../utils/eventbus';
    import api from  '../api';
    import mixins from '../mixins';
    export default {
        name: "exam",
        mixins: [mixins],
        data(){
            return {
                bar: {
                    value: 0,
                    variant: 'info'
                },
                questionNumber: 0,
                totalQuestion: 0,
                answered: 0,
                time: 60,
                exams: [],
                answers: [],
                category_id: 0,
                agency_id: 0,
                is_checking: false,
                is_checked: false,
                agency: null,
                category: {},
                examResult: {
                    is_pass: false
                },
            }
        },
        created() {
        },
        mounted () {
            let token = localStorage.getItem('access_token');
            if (!token || token === 'null'){
                this.$router.push('/login')
            }
            this.category_id = this.$route.params.category_id;
            this.agency_id = this.$route.params.agency_id;
            api.getCategory(this.category_id).then(res => {
                this.category = res.data.data;
            });
            api.getExamConfig(this.agency_id).then(res => {
                this.time = res.data.data.time
                this.countDown()
            });
            api.getExamQuestion(this.category_id,this.agency_id).then(res => {
                this.exams = res.data.data.questions;
                this.agency = res.data.data.agency;
                this.totalQuestion = this.exams.length;
                let questions = [];
                for (let i = 0; i < this.exams.length; i++) {
                    questions.push({
                        question_id: this.exams[i].id,
                        answer_id: null
                    });
                }
                this.answers = questions;
            });
        },
        methods:{
            check(){
                this.$bvModal.msgBoxConfirm('Nộp bày ngay?', {
                    title: '',
                    size: 'sm',
                    buttonSize: 'sm',
                    okVariant: 'danger',
                    okTitle: 'Tiếp tục',
                    cancelTitle: 'Quay lại',
                    footerClass: 'p-2',
                    hideHeaderClose: false,
                    centered: true
                })
                    .then(value => {
                        if (value){
                            this.sendCheckExam();
                        }
                    })
                    .catch(res => {
                        console.log(res.message)
                    });
            },
            sendCheckExam(){
                this.is_checking = true;
                let data = {
                    category_id: this.category_id,
                    agency_id: this.agency_id,
                    questions: this.answers
                };
                api.checkExam(data).then(res => {
                    this.is_checking = false;
                    this.is_checked = true;
                    localStorage.setItem('has_result', 'yes')
                    this.examResult = res.data.data;
                    this.$router.push({
                        name: 'examResult',
                        params: {
                            category_id: this.category_id,
                            agency_id: this.agency_id,
                            is_pass: this.examResult.is_pass,
                            correct: this.examResult.total_correct,
                            min: this.examResult.min_right_question,
                            total: this.examResult.total_question
                        }
                    })
                }).catch(res => {
                    console.log(res);
                });
            },
            countDown() {
                const self = this;
                setInterval(function () {
                    self.time = self.time-1
                }, 1000);
            },
            nextQ(){
                this.questionNumber++;
            },
            prevQ(){
                this.questionNumber--;
            }
        },
        beforeRouteLeave (to, from , next) {
            if (!this.is_checked && this.exams.length > 0){
                this.$bvModal.msgBoxConfirm('Bạn muốn thoát ngay?', {
                    title: '',
                    size: 'sm',
                    buttonSize: 'sm',
                    okVariant: 'danger',
                    okTitle: 'Tiếp tục',
                    cancelTitle: 'Quay lại',
                    footerClass: 'p-2',
                    hideHeaderClose: false,
                    centered: true
                })
                    .then(value => {
                        if (value){
                            next();
                        }else {
                            next(false)
                        }
                    });
            }else {
                next();
            }
        },
        watch: {
            time: function (value) {
                if (value === 0){
                    this.sendCheckExam();
                }
            },
            answers: {
                handler: function () {
                    let self = this;
                    self.answered = 0;
                    this.answers.forEach(function (value) {
                        if(value.answer_id !== null){
                            self.answered = self.answered+1
                        }
                    });
                    this.bar.value = (this.answered/this.totalQuestion)*100
                },
                deep: true
            }
        }
    }
</script>

<style scoped>

</style>