<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="main-page">
        <nav class="navbar navbar-dark bg-custom-1 navbar-expand fixed-top">
            <div class="container">
                <router-link class="navbar-brand" to="/">
                    <img class="logo" alt="Vue logo" src="../assets/logo-vu-duc.png">
                </router-link>
                <div class="" id="navbar-list-2">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">{{profile.name}}</a>
                        </li>
                        <li class="nav-item">
                            <span @click="logout()" class="nav-link"><font-awesome-icon icon="sign-out-alt" /></span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-center pb-2 text-vd">★ Bảng vinh danh ★</h3>
                        </div>
                    </div>
                    <b-table class="custom" responsive hover :busy="tableRankBusy"  :items="tableRank.items" :fields="tableRank.fields">
                        <template v-slot:cell(index)="data">
                            <span class="id">{{ data.index + 1 }}</span>
                        </template>
                        <template v-slot:cell(account)="data">
                            {{ data.item.account.name }}
                        </template>
                        <template v-slot:cell(agency)="data">
                            {{ data.item.agency.name }}
                        </template>
                        <template v-slot:cell(category)="data">
                            {{ data.item.category.name }}
                        </template>
                        <template v-slot:table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>
                    </b-table>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-lg-5">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="text-vd pb-2">Thành tích</h3>
                        </div>
                        <div class="col-6 text-right">
                            <b-button variant="primary" v-b-modal.modal-prevent-closing>
                                Thi ngay
                                <font-awesome-icon icon="chevron-right" />
                            </b-button>
                        </div>
                    </div>
                    <b-table responsive outlined striped hover :busy="tableResultBusy" :items="tableResult.items" :fields="tableResult.fields">
                        <template v-slot:cell(category)="data">
                            <b-link @click="askForExam()">{{ data.item.category.name}}</b-link>
                        </template>
                        <template v-slot:cell(agency)="data">
                            {{ data.item.agency.name }}
                        </template>

                        <template v-slot:table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>
                    </b-table>
                </div>
                <div class="col-12 col-lg-7">
                    <h3 class="text-vd text-center pb-2 mt-4 mt-lg-0">Lịch sử thi</h3>
                    <b-table responsive outlined striped hover :busy="tableHistoryBusy"  :items="tableHistory.items" :fields="tableHistory.fields">
                        <!-- Optional default data cell scoped slot -->
                        <template v-slot:cell(category)="data">
                            {{ data.item.category.name }}
                        </template>
                        <template v-slot:cell(agency)="data">
                            {{ data.item.agency.name }}
                        </template>
                        <template v-slot:cell(is_pass)="data">
                            {{ data.item.is_pass?'Đậu':'Rớt' }}
                        </template>
                        <template v-slot:cell(total_question)="data">
                            {{ data.item.total_correct+'/'+data.item.total_question }}
                        </template>
                        <template v-slot:cell(created_at)="data">
                            {{ $moment(data.item.created_at).format('MM-DD-YYYY') }}
                        </template>

                        <template v-slot:table-busy>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>
                    </b-table>
                    <div class="overflow-auto">
                        <b-pagination-nav v-model="cur_page" :link-gen="linkGen" :number-of-pages="last_page" use-router></b-pagination-nav>
                    </div>

                </div>
            </div>
        </div>
        <b-modal
                centered
                id="modal-prevent-closing"
                ref="modal"
                title="Chọn danh mục"
                cancelTitle="Quay lại"
                okTitle="Thi ngay"
                @show="resetModal"
                @hidden="resetModal"
                @ok="doExam"
        >
            <b-form-select v-model="category_id" :options="categories"
                           value-field="id"
                           text-field="name"
            ></b-form-select>
        </b-modal>
    </div>
</template>

<script>
    import { eBus } from '../utils/eventbus';
    import api from  '../api';
    import mixins from '../mixins';
    export default {
        name: "home",
        mixins: [mixins],
        data(){
            return{
                showModal: false,
                last_page: 1,
                cur_page: 1,
                modalShow: false,
                categories: [],
                category_id: null,
                agency_id: null,
                tableHistoryBusy: true,
                tableResultBusy: true,
                tableRankBusy: true,
                tableHistory: {
                    fields: [
                        {
                            key: 'category',
                            label: 'Danh mục',
                            sortable: true
                        },
                        {
                            key: 'agency',
                            label: 'Cấp độ',
                            sortable: false
                        },
                        {
                            key: 'is_pass',
                            label: 'Kết quả',
                            sortable: false
                        },
                        {
                            key: 'total_question',
                            label: 'Đúng/sai',
                            sortable: false
                        },
                        {
                            key: 'created_at',
                            label: 'Thời gian',
                            sortable: true
                        }
                    ],
                    items: [],
                },
                tableResult: {
                    isBusy: false,
                    fields: [
                        {
                            key: 'category',
                            label: 'Danh mục',
                            sortable: true
                        },
                        {
                            key: 'agency',
                            label: 'Cấp độ',
                            sortable: false
                        },
                    ],
                    items: [],
                },
                tableRank: {
                    isBusy: true,
                    fields: [
                        'index',
                        {
                            key: 'account',
                            label: 'Tài khoản',
                            sortable: false
                        },
                        {
                            key: 'agency',
                            label: 'Cấp độ',
                            sortable: false
                        },
                        {
                            key: 'category',
                            label: 'Danh mục',
                            sortable: false
                        },
                    ],
                    items: [],
                },
                pagination:{
                    itemsPerPage: 7,
                    align: 'center',
                    visualStyle: 'select'
                }
            }
        },



        created() {
            api.getAccountLevels().then(res => {
                this.tableResultBusy = false;
                this.tableResult.items = res.data.data
                console.log(this.tableResult.items);
            });
            api.getCategoryList().then(res => {
                this.categories = res.data.data.data;
                this.category_id = this.categories[0].id;
                this.getRankList();
            });
            this.getHistory(this.cur_page);

        },
        mounted() {
            eBus.$once('login-success', () => {
                this.$notify({
                    group: 'foo',
                    title: 'Đăng nhập thành công',
                    text: '',
                    speed: 1000,
                    type: 'success',
                });
            });
        },
        methods: {
            getRankList(){
                this.tableRankBusy = true;
                api.getRankList().then(res => {
                    this.tableRankBusy = false;
                    this.tableRank.items = res.data.data
                });
            },
            getHistory(numPage){
                api.getExamHistory(numPage).then(res => {
                    this.tableHistoryBusy = false;
                    this.tableHistory.items = res.data.data.data
                    this.last_page = res.data.data.last_page
                });
            },
            askForExam(){
                this.showModal = true
            },
            linkGen(pageNum) {
                return pageNum === 1 ? '?' : `?page=${pageNum}`
            },
            doExam(){
                this.findAgencyByCategory(this.category_id);
                this.$router.push('/exam/'+this.category_id+'/'+this.agency_id)
            },
            resetModal(){

            },
            findAgencyByCategory(cat_id){
                let self = this;
                this.tableResult.items.forEach(function (v) {
                    if (cat_id === v.category.id){
                        self.agency_id = v.agency.id
                    }
                });
            }


        },
        watch: {
            cur_page: function (value) {
                this.getHistory(value);
            }
        }
    }
</script>

<style lang="scss">
    .custom{
        padding: 10px;
        border: solid 1px #afc446;
        border-radius: 6px;
        max-height: 500px;
        tr:first-child{
            th, td{
                border-top: none;
            }
        }
        /*tr:nth-child(1){*/
        /*    background-color: #e51c60;*/
        /*    color: white;*/
        /*}*/
        /*tr:nth-child(2){*/
        /*    background-color: #47348f;*/
        /*    color: white;*/
        /*}*/
        /*tr:nth-child(3){*/
        /*    background-color: #2ea4e2;*/
        /*    color: white;*/
        /*}*/
        thead{
            display: none;
        }
        th, td {
            border-top: none;
            font-weight: bold;
        }
        .id{
            color: #afd139;
        }
    }
</style>