<template>
    <div class="main-content">
        <notifications group="foo" position="top center"/>
        <vue-page-transition name="fade">
            <router-view/>
        </vue-page-transition>
    </div>
</template>

<script>
import Vue from 'vue'
import Notifications from 'vue-notification'
Vue.use(Notifications);
import BootstrapVue from 'bootstrap-vue'
import { eBus } from '../utils/eventbus';
import VuePageTransition from 'vue-page-transition'

Vue.use(BootstrapVue);
Vue.use(VuePageTransition)
Vue.use(require('vue-moment'));
export default {
    name: 'MainLayout',
    props: {
        msg: String
    },
    mounted() {
        eBus.$on('logout', () => {
            this.logout();
        });
        eBus.$on('unauthorized', () => {
            this.logout();
        });
    },
    methods: {

    }
}
</script>

<style>
    /*@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');*/
    /*@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');*/

    html, body {
        font-family: 'Roboto Condensed', sans-serif;
    }
    *, ::after, ::before {
        box-sizing: border-box;
    }
    .login-container{
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }
    body{
        margin: 0;
    }
    .form-control,.form-control:focus{
        background-color: #1d8dc6;
        color: white;
    }
    .form-text{
        display: block;
        margin-top: .25rem;
    }
    .text-muted{
        color: #afd139!important;
    }
    .btn.vd{
        background-color: #afd139;
        color: white!important;
    }
    a:active,a:focus,a:hover{
        color: #afd139!important;
        text-decoration: none!important;
        opacity: 0.7;
    }
    a{
        color: #afd139!important;
    }
    .text-center{
        text-align: center;
    }
    .text-left{
        text-align: left;
    }
    .text-right{
        text-align: right;
    }
    .btn-block{
        display: block;
        width: 100%;
    }

    .bg-custom-1 {
        background-color: #132d4e;
    }

    .bg-custom-2 {
        background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    }
    .main-page {
        margin-top: 5rem;
        padding-bottom: 3rem;
    }
    nav .logo{
        max-height: 40px;
    }
    .navbar-brand{
        padding: 0
    }
    .navbar-nav{
        flex-direction: row;
    }
    .navbar-expand-sm .navbar-nav .nav-link{
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .table th, .table td{
        white-space: nowrap;
    }
    .wrap-question{
        min-height: 350px;
    }
    .vd{
        color: #afd139;
        cursor: pointer;
    }
    .text-vd{
        color: #afd139;
    }
    .custom-control.custom-radio{
        margin-bottom: 10px;
    }
</style>